<p>LISTA CONTATTI</p>
<div *ngIf="true">
    <div *ngFor="let persona of persone; index as i">
    <a routerLink="/contatti/{{i}}"><p>{{persona.name}}  {{persona.surname}}</p></a>
</div>
</div>

<router-outlet></router-outlet>
<!-- <ng-template #profiloContatto>
    <app-contatto [persona]="persona"></app-contatto>
</ng-template> -->

<form [formGroup]="homeform" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="name" formControlName="name">
      </mat-form-field>
      <span *ngIf="!homeform.get('name').valid && homeform.get('name').touched">Inserire nome valido</span>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          <mat-option value="red">Red</mat-option>
          <mat-option value="blue">Blue</mat-option>
        </mat-select>
      </mat-form-field>
    
      <button mat-flat-button type="submit" color="primary" [disabled]="!homeform.valid">submit</button>
</form>
