@using TaskManagerWeb.Models
@model List<AppUserVM>

<div class="card shadow border-0">
    <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
        <div class="row px-4">
            <div class="col-6">
                <h5 class="pt-2 text-white">
                    Users
                </h5>
            </div>

        </div>
    </div>
    <div class="card-body my-4">
        <div class="row">
        </div>
        <div class="row mb-3 pb-3">
            @*             <div class="col-md-2 offset-md-1">
                <a asp-area="user" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>See tasks</small></a>
            </div> *@
            <div class="col-md-10 offset-md-1">
                <form method="post" >
                @for (int i = 0; i < Model.Count; i++)
                {
                        <input asp-for="@Model[i].AppUser.Id" hidden/>
                        <div class="row border-bottom pb-3">

                            <div class="col-4 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>Name</strong></h5>
                                
                                <p><small>@Html.Raw(Model[i].AppUser.Name)</small></p>
                            </div>
                            <div class="col-4 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>Role</strong></h5>

                                <select asp-for="@Model[i].RoleSelectedId" asp-items="@Model[i].Roles" class="form-select p-0">
                                    <option disabled selected>--Role--</option>
                                </select>
                            </div>
                            <div class="col-4 pt-md-3">
                                <button type="submit" class="btn btn-warning form-control">Update</button>
                            </div>
                        </div>
                }
                </form>
            </div>
        </div>

    </div>



