@model Comment
<form method="post" enctype="multipart/form-data">
    <input asp-for="TaskItemId" hidden />
    @*     <input asp-for="Product.ImageUrl" hidden />
 *@
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4">
                <div class=" row pb-2">
                    <h2 class="text-primary">Comment</h2>
                </div>
                @*<div asp-validation-summary="ModelOnly">*@

            </div>
            

            <div class="mb-3 row p-1">
                <label asp-for="Description" class="p-0 text-muted"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>

                </div>
                <div class="col-6 col-mid-3">
                    <a asp-controller="Team" asp-action="Index" class="btn btn-secondary border  form-control">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>


