@if(show){
<div class="overlay">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="min-width: 350px; max-width: 400px;">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Change your password</h5>
        <button type="button" class="btn-close" (click)="hideForm()"></button>
      </div>
      <div class="card-body">
        <form [formGroup]="changePassform" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input class="form-control" type="password" formControlName="currentPassword" required placeholder="CurrentPassword" autocomplete="current-password"/>
            <label>Current Password</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="password" formControlName="newPassword" required placeholder="NewPassword" autocomplete="new-password" />
            <label>New Password</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="password" formControlName="confirmNewPassword" required placeholder="ConfirmNewPassword" autocomplete="new-password"/>
            <label>Confirm New Password</label>
          </div>
          <button [disabled]="!changePassform.valid" type="submit" class="w-100 btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
}